.container {
  width: 20rem;
  height: 20rem;
  position: relative;
  display: flex;
}

@media (max-width: 450px) {
  .container {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 340px) {
  .container {
    width: 12rem;
    height: 12rem;
  }
}
