.navbar__container {
  /* position: relative; */
  /* margin-top: 2rem; */
  padding-top: 1rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: solid blue 1px; */
  max-height: fit-content;
  overflow: visible;
}

.hamburger__menu {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 0;
}

.sticky .navbar__logo {
  opacity: 0;
}

.sticky .navbar__list {
  background-color: rgba(40, 101, 216, 0.5);
  border-radius: 0 0 10px 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

.navbar__logo {
  position: absolute;
  left: 0;
  margin-left: 5rem;
  width: fit-content;
  /* border: solid blue 1px; */
  font-size: 4rem;
  color: #2865d8;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
}

.navbar__list {
  /* border: solid red 1px; */
  /* position: fixed; */
  /* top: 10px; */
  /* position: sticky; */
  height: fit-content;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  padding-left: 0;
  transition: background-color 0.5s ease, padding-top 0.5s ease;
}

.navbar__list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.9rem;
}

@media (max-width: 1366px) {
  .navbar__logo {
    font-size: 3rem;
  }

  .navbar__list a {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .navbar__logo {
    font-size: 2.5rem;
  }

  .navbar__list a {
    font-size: 1.2rem;
  }
}

/* Go hamburger menu here */
@media (max-width: 768px) {
  .navbar__container {
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0;
    background-color: rgba(18, 18, 18, 0.95);
    backdrop-filter: blur(5px);
  }

  .navbar__logo {
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2.5rem;
    font-size: 2.5rem;
  }

  .hamburger__menu::before,
  .hamburger__menu::after,
  .hamburger__menu input {
    content: "";
    width: 2rem;
    height: 0.25rem;
    background-color: #2865d8;
    border-radius: 10rem;
    transform-origin: left center;
    transition: rotate 0.5s ease-in-out;
  }

  .menu__x::before {
    rotate: 45deg;
    translate: 0 -2px;
    width: 2.05rem;
  }

  .menu__x::after {
    rotate: -45deg;
    translate: 0 2px;
    width: 2.05rem;
  }

  .menu__x input {
    opacity: 0;
  }

  .hamburger__menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 2rem;
    width: max-content;
    height: max-content;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.051);
    padding: 0.5rem;
    border-radius: 3rem;
    cursor: pointer;
  }

  .hamburger__menu:hover {
    background-color: rgba(255, 255, 255, 0.156);
  }

  .hamburger__menu input {
    outline: none;
    appearance: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }

  .navbar__list {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    margin-top: 0;
    height: 100rem;
    background-color: rgba(18, 18, 18, 1);
    z-index: 1;
    padding-left: 2rem;
    justify-content: start;
    padding-top: 10rem;
    gap: 3rem;
    translate: 100%;
    opacity: 0;
    transition: translate 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .navbar__list a {
    text-decoration: none;
    color: #2865d8;
    font-size: 2.5rem;
  }

  .open {
    translate: 0;
    opacity: 1;
  }

  .menu__x {
    background-color: transparent !important;
  }

  .menu__backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100rem;
    pointer-events: none;
    background-color: rgba(18, 18, 18, 0.9);
  }
}

@media (max-width: 430px) {
  .navbar__list a {
    font-size: 2rem;
  }
}
