/* .intro__container {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 90%;
  margin-top: 4rem;
  border: solid blue 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #c0c0c008;
  z-index: 10;
} */

.intro__text {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* border: solid red 2px; */
  margin-left: 5em;
}

.intro__text p {
  margin: 0;
  /* border: solid red 2px; */
}

.intro__text p .white {
  color: white;
  /* border: solid red 2px; */
}

.name {
  font-size: 5rem;
  color: #2865d8;
}

.desc {
  text-align: center;
  font-size: 2rem;
  color: #2865d8;
}

.intro__image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  flex: 1 1 70%;
  /* border: solid red 2px; */
}

.intro__image img {
  /* border: solid red 2px; */
  transform: scale(1.5);
}
